.img-thumbnail {
	height: 80px;
}

.navigation-link {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.navigation-link:hover,
.navigation-link:focus {
	text-decoration: underline;
	cursor: pointer;
	color: black;
}
