.small-container {
	max-width: 600px;
}

.checkout-steps > div {
	border-bottom: 0.2rem solid #a0a0a0;
	color: #a0a0a0;
}

.checkout-steps > div.active {
	border-bottom: 0.2rem solid #f08000;
	color: #f08000;
}
